.results-overview {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(to bottom, #7755FF 0%, #6943FF 0%, #2F2CE9 100%);
  border-radius: 32px;
  padding: 38px 54px 46px 54px;
  text-align: center;
}

.results-title {
  margin-bottom: 35px;
}

.results-score {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  height: 200px;
  margin-bottom: 28px;
  border-radius: 50%;
  background: linear-gradient(to bottom, rgba(77, 33, 201, 100), rgba(37, 33, 201, 0), rgba(37, 33, 201, 0));
}

.results-evaluation {
  margin-bottom: 14px;
}